{
  "singleQuote": false,
  "bracketSpacing": true,
  "printWidth": 200,
  "endOfLine": "auto",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
