[workspace]
name = "datajudge"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[dependencies]
python = ">=3.10"
scipy = "*"
sqlalchemy = ">=1.4,<3"
colorama = "*"
pytest = "*"
flit-core = "*"
flit = "*"

[feature.docs.dependencies]
make = "*"
numpydoc = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-apidoc = "*"
sphinx-autodoc-typehints = "*"
[feature.docs.tasks]
docs = "cd docs && make html "
readthedocs = "rm -rf $READTHEDOCS_OUTPUT/html && cp -r docs/build/html $READTHEDOCS_OUTPUT/html"

[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.py313.dependencies]
python = "3.13.*"

[feature.unit.tasks]
test = "pytest tests/unit"
coverage = "pytest tests/unit --cov=datajudge --cov-report=xml --cov-append"

[feature.mssql.dependencies]
pyodbc = "*"
freetds = "*"
[feature.mssql.tasks]
test = "pytest tests/integration --backend=mssql"
test_freetds = "pytest tests/integration --backend=mssql-freetds"
coverage = "pytest tests/integration --cov=datajudge --cov-report=xml --cov-append --backend=mssql-freetds"

[feature.postgres.dependencies]
psycopg2 = "*"
[feature.postgres.tasks]
test = "pytest tests/integration --backend=postgres"
coverage = "pytest tests/integration --cov=datajudge --cov-report=xml --cov-append --backend=postgres"

[feature.db2.dependencies]
ibm_db = "!=3.2.5"
ibm_db_sa = "*"
# sqlalchemy 1.0 is (temporarily) not compatible with ibm_db_sa, see
# https://github.com/ibmdb/python-ibmdbsa/issues/165
sqlalchemy = ">=2.0"
[feature.db2.tasks]
test = "pytest tests/integration --backend=db2"
coverage = "pytest tests/integration --cov=datajudge --cov-report=xml --cov-append --backend=db2"

[feature.snowflake.dependencies]
snowflake-sqlalchemy = "*"
[feature.snowflake.tasks]
test = "pytest tests/integration --backend=snowflake"
coverage = "pytest tests/integration --cov=datajudge --cov-report=xml --cov-append --backend=snowflake"

[feature.bigquery.dependencies]
sqlalchemy-bigquery = "*"
[feature.bigquery.tasks]
test = "pytest tests/integration --backend=bigquery -v -n=16"
coverage = "pytest tests/integration --cov=datajudge --cov-report=xml --cov-append --backend=bigquery -v -n=16"

[feature.impala.dependencies]
# We encounter thrift related problems with impyla 0.20.
impyla = "<0.20"
[feature.impala.tasks]
test = "pytest tests/integration --backend=impala"
coverage = "pytest tests/integration --cov=datajudge --cov-report=xml --cov-append --backend=impala"

[feature.sa1.dependencies]
sqlalchemy = "1.*"

[feature.sa2.dependencies]
sqlalchemy = "2.*"

[feature.test.dependencies]
pytest-cov = "*"
pytest-xdist = "*"

[feature.test.target.unix.dependencies]
pytest-memray = "*"
memray = "*"

[feature.mypy.dependencies]
mypy = "*"
types-setuptools = "*"
types-colorama = "*"
pandas-stubs = "*"
types-jinja2 = "*"

[feature.lint.dependencies]
pre-commit = "*"
docformatter = "*"
ruff = "*"
prettier = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[environments]
default = ["test"]
docs = ["docs"]

py310 = ["test", "py310", "unit"]
py311 = ["test", "py311", "unit"]
py312 = ["test", "py312", "unit"]
py313 = ["test", "py313", "unit"]
sa1 = ["sa1", "test", "unit"]
sa2 = ["sa2", "test", "unit"]

mssql-py310 = ["mssql", "py310", "test"]
mssql-py311 = ["mssql", "py311", "test"]
mssql-py312 = ["mssql", "py312", "test"]
mssql-py313 = ["mssql", "py312", "test"]
mssql-sa1 = ["mssql", "sa1", "test"]
mssql-sa2 = ["mssql", "sa2", "test"]

postgres-py310 = ["postgres", "py310", "test"]
postgres-py311 = ["postgres", "py311", "test"]
postgres-py312 = ["postgres", "py312", "test"]
postgres-py313 = ["postgres", "py313", "test"]
postgres-sa1 = ["postgres", "sa1", "test"]
postgres-sa2 = ["postgres", "sa2", "test"]

db2-py310 = ["db2", "py310", "test"]
# Can't be solved.
# db2-py311 = ["db2", "py311", "test"]
db2-py312 = ["db2", "py312", "test"]
db2-py313 = ["db2", "py313", "test"]

snowflake-py310 = ["snowflake", "py310", "test"]

bigquery-py310 = ["bigquery", "py310", "test"]
bigquery-sa1 = ["bigquery", "sa1", "test"]

# We specify sqlalchemy 1 due to this bug:
# https://github.com/cloudera/impyla/issues/512
impala-py310 = ["impala", "py310", "sa1", "test"]
impala-sa1 = ["impala", "sa1", "test"]

lint = { features = ["lint"], no-default-feature = true }

mypy = ["mypy"]
