name: Docs
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@51b98037a96d8c8de9468a767400f984d173fd90
        with:
          environments: docs
      - name: Build docs
        run: pixi run -e docs docs-build
      - name: Deploy docs
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: pixi run -e docs mkdocs gh-deploy --force
