name: pre-commit autoupdate
on:
 workflow_dispatch:
 schedule:
   - cron: "0 6 4 * *"

defaults:
  run:
    shell:
      bash -el {0}

jobs:
  check_update:
    name: Check if newer version exists
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        # We need to checkout with SSH here to have actions run on the PR.
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Set up micromamba environment
        uses: mamba-org/setup-micromamba@875557da4ee020f18df03b8910a42203fbf02da1
        with:
          environment-name: pre-commit
          create-args: >-
            pre-commit
            mamba
      - name: Update pre-commit hooks and run
        id: versions
        env:
          PRE_COMMIT_USE_MAMBA: 1
        run: |
          pre-commit autoupdate
          pre-commit run -a || true
      - uses: peter-evans/create-pull-request@284f54f989303d2699d373481a0cfa13ad5a6666
        with:
          commit-message: "Auto-update pre-commit hooks"
          title: "Auto-update pre-commit hooks"
          body: |
            New versions of the used pre-commit hooks were detected.
            This PR updates them to the latest and already ran `pre-commit run -a` for you to fix any changes in formatting.
          branch: pre-commit-autoupdate
          delete-branch: true
